<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tasklist</title>
</head>
<body>
    <h1>Edit tasks</h1>
    <div class="home">
        <%= form_for(@task, html: {class: "ttl"}) do |f| %>
            <div><%= f.label :state %></div>
            <div><%= f.select :state,[['todo', 'todo'], ['doing', 'doing'], ['done', 'done']] , {class: 'form-control'} %></div>
            <div></div>
            <div><%= f.label :title %></div>
            <div><%= f.text_field :title , placeholder: "Task Name" %></div>
            <div><%= f.submit 'Update a task',:class => 'btn btn-square' %></div>
        <% end %>
        <%= link_to 'Back', tasks_path, class: 'btn btn-square1' %>
    </div>
</body>
</html>