<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tasklist</title>
</head>
<body>
    <h1>Ruby on Rails  -Todo List-</h1>
    <table>
        <thead>
            <tr>
                <h2 class="ttl">Task List</h2>
                <th>Status</th>
                <th>&emsp;</th>
                <th>Date</th>
                <th>&emsp;</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <% @tasks.each do |task| %>
                <tr>
                    <td><%= task.state %></td>
                    <td>&emsp;</td>
                    <td><%= task.created_at.strftime("%Y-%m-%d") %></td>
                    <td>&emsp;</td>
                    <td><%= task.title %></td>
                    <td>&emsp;</td>
                    <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-square1' %></td>
                    <td>&nbsp;</td>
                    <td><%= link_to 'Delete', task_path(task), method: :delete, class: 'btn btn-square2' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="in">
        <%= link_to 'Add new task', new_task_path, class: 'btn btn-square' %>
    </div>
    
</body>
</html>